# MAIN APP Envs
RF_KEEPER_TOKEN=tokenfromBotFather
RF_API_URL=somerfapiurl
PGHOST=postgres
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=postgres
PGPORT=5432

# POSTGRES Image envs
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres